include ../../../log-ionic-materialize.pug

+fullLogWrapper()
  div(*ngIf='showLog == true')
    block header
      log-header([log]='logHeaderData', [dateGroup]='captureForm')
    form([formGroup]='captureForm', (ngSubmit)='save()')
      //-+card()(*ngFor='let area of log.areas; let j=index')
        +cardHeader("{{area.name}}")
        +cardContent()
      gap-packing-cooler-cleaning-area(*ngFor='let area of log.areas; let i=index', [area]='area', [actions]='log.corrective_actions', [areaForm]='captureForm.controls.areas.controls[i]')
          //-div(*ngFor='let type of area.types; let k=index')
            div(style="font-weight: bold;") {{type.name}} {{areaOffset[j] + typeOffset[k]}}
            gap-packing-cooler-cleaning-item([item]='item', [itemForm]='captureForm.controls.items.controls[i + areaOffset[j] + typeOffset[k]]', *ngFor='let item of type.items; let i=index')
      +card()
        +cardHeader("{{ 'Log.complementary_information' | translate:lang }}")
        +cardContent()
          +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")
          +textArea("{{ 'Log.external_link_of' | translate:lang }} {{log.log_name}}", "link", "album_url")
      block buttonRow
        +updateLogButtonRow("{{ 'Log.send_report' | translate:lang }}", "{{ 'Log.finish_report' | translate:lang }}", "{{ 'Log.back_report' | translate:lang }}")