mz-card
  mz-card-content
    div(#report_body)
      table
        tbody
          tr
            td.headerTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.subject' | translate:lang }}
            td.headerColumn {{ report.subject }}
          tr
            td.headerTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.corrective_action' | translate:lang }}
            td.headerColumn([innerHtml]='report.corrective_action')
          tr
            td.headerTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.notes' | translate:lang }}
            td.headerColumn([innerHtml]='report.notes')
      p()= " "
      table
        tbody
          tr
            td.customerColumn.pseudoHeader {{ 'CustomerComplaintForm.customer' | translate:lang }}
            td.complaintDateColumn.pseudoHeader {{ 'CustomerComplaintForm.complaint_date' | translate:lang }}
            td.salesOrderNumberColumn.pseudoHeader {{ 'CustomerComplaintForm.sales_order_number' | translate:lang }}
            td.accountManagerColumn.pseudoHeader {{ 'CustomerComplaintForm.account_manager' | translate:lang }}
            td.shippedToColumn.pseudoHeader {{ 'CustomerComplaintForm.shipped_to' | translate:lang }}
          tr
            td.customerColumn {{ report.customer }}
            td.complaintDateColumn {{ report.complaint_date }}
            td.salesOrderNumberColumn {{ report.sales_order_number }}
            td.accountManagerColumn {{ report.account_manager }}
            td.shippedToColumn {{ report.shipped_to }}
      p()= " "
      table
        tbody
          tr
            td.secondaryHeaderTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.complaint_reason' | translate:lang }}
            td.secondaryHeaderColumn(colspan='4', [innerHtml]='report.complaint_reason')
          tr
            td.secondaryHeaderTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.root_cause' | translate:lang }}
            td.secondaryHeaderColumn(colspan='4', [innerHtml]='report.root_cause')
      p()= " "
      table
        thead
          tr
            th.productColumn {{ 'CustomerComplaintForm.product' | translate:lang }}
            th.quantityColumn {{ 'CustomerComplaintForm.quantity' | translate:lang }}
            th.costColumn {{ 'CustomerComplaintForm.price' | translate:lang }}
            th.productAgeColumn {{ 'CustomerComplaintForm.total_age_abbr' | translate:lang }}
            th.shippingAgeColumn {{ 'CustomerComplaintForm.shipping_age_abbr' | translate:lang }}
            th.transitTimeColumn {{ 'CustomerComplaintForm.transit_time_abbr' | translate:lang }}
            th.complaintAgeColumn {{ 'CustomerComplaintForm.complaint_age_abbr' | translate:lang }}
            th.incomingQCScoreColumn {{ 'CustomerComplaintForm.incoming_qc_score' | translate:lang }}
        tbody
          tr(*ngFor='let detail of report.details')
            td.productColumn {{ detail.product }}
            td.quantityColumn {{ detail.quantity }}
            td.costColumn {{ detail.cost }}
            td.productAgeColumn {{ detail.product_age }} {{ 'CustomerComplaintForm.days' | translate:lang }}
            td.shippingAgeColumn {{ detail.shipping_age }} {{ 'CustomerComplaintForm.days' | translate:lang }}
            td.transitTimeColumn {{ detail.transit_time }} {{ 'CustomerComplaintForm.days' | translate:lang }}
            td.complaintAgeColumn {{ detail.complaint_age }} {{ 'CustomerComplaintForm.days' | translate:lang }}
            td.incomingQCScoreColumn {{ detail.incoming_qc_score }}
      span() {{ 'CustomerComplaintForm.total_age_abbr' | translate:lang }} = {{ 'CustomerComplaintForm.total_age' | translate:lang }}
      br
      span() {{ 'CustomerComplaintForm.shipping_age_abbr' | translate:lang }} = {{ 'CustomerComplaintForm.shipping_age' | translate:lang }}
      br
      span() {{ 'CustomerComplaintForm.transit_time_abbr' | translate:lang }} = {{ 'CustomerComplaintForm.transit_time' | translate:lang }}
      br
      span() {{ 'CustomerComplaintForm.complaint_age_abbr' | translate:lang }} = {{ 'CustomerComplaintForm.complaint_age' | translate:lang }}
      p()= " "
      table
        tbody
          tr
            td.secondaryHeaderTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.shipping_point' | translate:lang }}
            td.secondaryHeaderColumn {{ report.shipping_point }}
          tr
            td.secondaryHeaderTitleColumn.pseudoHeader {{ 'CustomerComplaintForm.product_sources' | translate:lang }}
            td.secondaryHeaderColumn
              ng-template(ngFor, [ngForOf]='report.sources', let-source, let-last='last') {{ source.zone_name }}
                span(*ngIf='!last')= ", "