mixin inventoryItemHandler()
  ion-icon.handle(name='move', item-start)

mixin inventoryItemColumn(content)
  ion-label()= content

mixin inventoryItemToggle()
  ion-toggle(#item_toggle, (ionChange)='toggleItem()')

mixin inventoryItemWrapper()
  ion-item(text-wrap, [class.gray-text]='item_toggle.value == false')
    if block
      block

mixin inventoryTitleHandler()
  ion-icon(item-start)

mixin inventoryTitleColumn(content)
  ion-label()= content

mixin inventoryTitleToggle()
  ion-toggle(item-end, style='visibility: hidden;')

mixin inventoryTitleWrapper()
  ion-item(ion-list-header)
    if block
      block

mixin addItemModalTitle()
  ion-header
    ion-toolbar(color='primary')
      ion-title
        | Añadir inventario
      ion-buttons(start)
        button(ion-button, icon-only, (click)='dismiss()')
          ion-icon(name='close')

mixin addItemFormWrapper()
  ion-content
    form([formGroup]='newItem')
      if block
        block

mixin addItemTextInput(controlName, label)
  ion-item
    ion-label(color='primary', floating)= label
    ion-input(formControlName=controlName)

mixin addItemSelectInput(controlName, label, options)
  ion-item
    ion-label()= label
    ion-select(interface='popover', formControlName=controlName)
      ion-option(*ngFor="let option of " + options, [value]='option.id') {{option.name}}

mixin addItemConfirmButton()
  div(text-right)
    button(ion-button, icon-end, (click)='addItem()')
      | Añadir
      ion-icon(name='add')

mixin inventoryItemComponent(suffix, ngForLet, ngForSource)
  #{suffix + '-inventory-item'}(*ngFor='let ' + ngForLet + ' of ' + ngForSource)&attributes(attributes)

mixin inventoryListWrapper()
  div(item-content)&attributes(attributes)
    if block
        block

mixin inventoryAddButton()
  ion-fab(right, bottom)
    button(ion-fab, color='open', (click)='addItem()')
      ion-icon(name='add')

mixin inventoryEmptyMessage()
  div(*ngIf='emptyInventoryFlag == true')
    ion-item(text-wrap)
      ion-icon(item-start, name='warning', color='danger')
      ion-label
        h1
          | No items for this log. Add some by using the 
          ion-icon(name='add-circle', color='open')
          |  button below

mixin inventoryListsWrapper()
  ion-list(*ngIf='emptyInventoryFlag == false')
    if block
      block

mixin inventoryWrapper()
  ion-content(hide-fab, [class.no-scroll]='!scrollAllowed')
    if block
      block