include globals.pug

//- Barra de navegacion en la parte superior de la pagina
-
  var navBarConfig = {
    sideNavButton: {
      id: "'sidenav-activation-btn'",
      icon: 'mdi mdi-menu white-text',
      showFlag: "this.home.showSideNav === true"
    }
  };
div.navbar-fixed
  +navBar(navBarConfig)('[navbarClass]'="'green'")
    mz-navbar-item(style="font-weight: bolder;")
      +select(
        "'zone-selection'", 
        '',
        "langManager.messages.navBar.zone", 
        'home.zones', 
        '.name', 
        '.id', 
        'onZoneSelectionChanged()'
      )(
        '*ngIf'="home.showZoneMenu"
        '[(ngModel)]'='home.zone.id'
      )
    mz-navbar-item
      +routerLink("['/menu']")(class='side-menu-link waves-effect waves-green')
        i.mdi.mdi-view-dashboard
    mz-navbar-item
      +link('http://www.delcabo.tech/')(target='_blank')
        i.mdi.mdi-home
    mz-navbar-item
      +link()('[id]'="'translation-button'")
        i.mdi.mdi-translate
      +dropdownMenu("'language-options'", "'translation-button'")
        mz-dropdown-item
          +link()(
            '(click)'='onLanguageButtonClicked("es", "ES")'
            click-stop-propagation
          )='Español'
        mz-dropdown-item
          +link()(
            '(click)'='onLanguageButtonClicked("en", "US")'
            click-stop-propagation
          )='English'

//- Menu de navegacion lateral
+sideNav("'sidenav'", "'sidenav-activation-btn'", "true")(
  '*ngIf'="this.home.showSideNav === true"
)
  div.logo-area
  +sideNavCollapsible(
    '{{home.userFullName}}', 'mdi mdi-account-circle white-text'
  )(id='account-options')
    mz-sidenav-link
      +routerLink("['edit-profile']")(class='waves-effect waves-green')
        ='{{ langManager.messages.sideNavOptions.editProfile }}'
    mz-sidenav-link
      +link()(
        class='waves-effect waves-green'
        '(click)'='onLogOutButtonClicked()'
      )
        ='{{ langManager.messages.sideNavOptions.logout }}'
  
  //- Enlaces temporales
  mz-sidenav-link('*ngIf'='home.roleName !== "Administrator"')
    +link('http://documents.jfdc.tech')(
      target='_blank'
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-file-document-box.mdi-24px
      ='LAB'
  mz-sidenav-link('*ngIf'='home.roleName === "Director"')
    +link('http://score.jfdc.tech')(
      target='_blank'
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-file-document-box.mdi-24px
      ='QC Score Card'
  mz-sidenav-link()
    +routerLink("['/menu']")(class='side-menu-link waves-effect waves-green')
      i.mdi.mdi-view-dashboard.mdi-24px
      ='{{ langManager.messages.sideNavOptions.menu }}'
  
  //- Menu de navegacion para el administrador
  mz-sidenav-link('*ngIf'="home.roleName === 'Administrator'")
    +routerLink("['/users']")(class='side-menu-link waves-effect waves-green')
      i.mdi.mdi-account-multiple.mdi-24px
      ='{{ langManager.messages.sideNavOptions.users }}'
  mz-sidenav-link('*ngIf'="home.roleName === 'Administrator'")
    +routerLink("['/zones']")(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-domain.mdi-24px
      ='{{ langManager.messages.sideNavOptions.zones }}'
  mz-sidenav-link('*ngIf'="home.roleName === 'Administrator'")
    +routerLink("['/log-footers']")(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-note-multiple.mdi-24px
      ='{{ langManager.messages.sideNavOptions.programs }}'
  mz-sidenav-link('*ngIf'="home.roleName === 'Administrator'")
    +routerLink("['/supervisors']")(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-account-star.mdi-24px
      ='{{ langManager.messages.sideNavOptions.supervisors }}'
  mz-sidenav-link('*ngIf'="home.roleName === 'Administrator'")
    +routerLink("['/signatures']")(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-pen.mdi-24px
      ='{{ langManager.messages.sideNavOptions.signatures }}'
  mz-sidenav-link('*ngIf'="home.roleName === 'Administrator'")
    +routerLink("['gp-signatures/supervisor-list']")(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-pen.mdi-24px
      ='GP Signatures'

  //- Menú de navegación para el director
  mz-sidenav-link('*ngIf'="home.roleName === 'Director'")
    +routerLink("['/document/list']")(class='side-menu-link waves-effect waves-green')
      i.mdi.mdi-file-pdf.mdi-24px
      ='{{ langManager.messages.sideNavOptions.documents }}'
  mz-sidenav-link('*ngIf'="home.roleName === 'Director'")
    +routerLink("['/menu/audit-list']")(class='side-menu-link waves-effect waves-green')
      i.mdi.mdi-view-list.mdi-24px
      ='{{ langManager.messages.sideNavOptions.menuAudit }}'

  //- Menu de navegacion para el supervisor
  mz-sidenav-link('*ngIf'="home.roleName === 'Supervisor'")
    +routerLink("['/pending-authorizations-list']")(
      class='side-menu-link waves-effect waves-green'
    )
      i.mdi.mdi-comment-check.mdi-24px.mdi-dark
      ='{{ langManager.messages.sideNavOptions.authorizations }}'
      mz-badge(
        '*ngIf'='home.numPendingAuthorizations != 0'
        '[value]'='home.numPendingAuthorizations'
        '[caption]'="' '"
        '[badgeClass]'="'green'"
      )
  div('*ngIf'="home.roleName === 'Supervisor'")
    +sideNavCollapsible(
      "{{ langManager.messages.sideNavOptions.inventory + ' ' + program }}", 'mdi mdi-briefcase'
    )(
      '*ngFor'='let program of home.programs | keys'
    )
      mz-sidenav-link(
        '*ngFor'='let module of home.programs[program].names | keys'
      )
        +routerLink("['inventory-selection', program, home.programs[program].names[module].suffix]")(
          class='waves-effect waves-green'
        )
          ='{{ module }}'

  //- Menu de navegacion para el supervisor de buenas prácticas
  div('*ngIf'="home.roleName === 'GP Supervisor'")
    mz-sidenav-link
      +routerLink("['gp-signatures/log-list']")(class='side-menu-link waves-effect waves-green')
        i.mdi.mdi-file-document-box.mdi-24px.mdi-dark
        ='Log GP Signature'

  //- Menu de navegacion para el empleado, el supervisor, gerente o director
  div('*ngIf'="home.roleName != 'Administrator' && home.roleName != 'GP Supervisor'")
    +sideNavCollapsible(
      '{{ program }}', 'mdi mdi-wrench'
    )(
      '*ngFor'='let program of home.programs | keys'
    )
      mz-sidenav-link(
        '*ngFor'='let module of home.programs[program].names | keys'
      )
        +routerLink("['log-selection', program, home.programs[program].names[module].suffix]")(
          class='waves-effect waves-green'
        )
          ='{{ module }}'

  //- Menú de navegación para supervisor, gerente o director
  div('*ngIf'="home.roleName != 'Administrator' && home.roleName != 'Employee' && home.roleName != 'GP Supervisor'")
    mz-sidenav-link
      +routerLink("['product-data-viewer']")(class='side-menu-link waves-effect waves-green')
        i.mdi.mdi-database.mdi-24px.mdi-dark
        ='Database BCN'
  div('*ngIf'="home.roleName != 'Administrator' && home.roleName != 'Employee' && home.roleName != 'GP Supervisor'")
    mz-sidenav-link
      +routerLink("['capa/capture']")(class='side-menu-link waves-effect waves-green')
        i.mdi.mdi-file-document-box.mdi-24px.mdi-dark
        ='CAPA'
  div('*ngIf'="home.roleName != 'Administrator' && home.roleName != 'Employee' && home.roleName != 'GP Supervisor'")
    mz-sidenav-link
      +routerLink("['crop-registry']")(class='side-menu-link waves-effect waves-green')
        i.mdi.mdi-database.mdi-24px.mdi-dark
        ='Crop Registry'
  div('*ngIf'="home.roleName != 'Administrator' && home.roleName != 'Employee' && home.roleName != 'GP Supervisor'")
    mz-sidenav-link
      +routerLink("['customer-complaint/capture']")(class='side-menu-link waves-effect waves-green')
        i.mdi.mdi-file-document-box.mdi-24px.mdi-dark
        ='Customer Complaint'

  //- El boton para reportar errores del sistema
  mz-sidenav-link
    +routerLink("['report-problem']")(class='side-menu-link waves-effect waves-green')
      i.mdi.mdi-alert.mdi-24px.mdi-dark
      ='{{ langManager.messages.sideNavOptions.reportProblem }}'

//- Area principal de la pagina
//-div(
  '[ngClass]'="{ 'with-sidenav': home.showSideNav }"
//-)
.with-sidenav
  router-outlet('[hidden]'='home.showSpinner')
  .centered('[hidden]'='!home.showSpinner')
    img.spinner(src="assets/images/koi_spinner.png", width="100", height="100")