include globals.pug

div.row: div.col.s12.m12
  h4
    i.mdi.mdi-account-circle
    ='{{ langManager.messages.userProfileLabels.title }}'

div.row
  div.col.s12.m6
    +textInput(
      'profile-name', 
      "langManager.messages.userProfileLabels.username"
    )(
      '[(ngModel)]'='home.loginName'
      disabled
    )
  div.col.s12.m6
    +textInput(
      'employee-num', 
      "langManager.messages.userProfileLabels.employeeNum"
    )(
      '[(ngModel)]'='home.employeeNum'
      disabled
    )
  div.col.s12.m6
    +textInput('full-name', "langManager.messages.userProfileLabels.fullName")(
      '[(ngModel)]'='home.userFullName'
      disabled
    )

div.row: div.col.s12
  mz-collapsible(
    '[mode]'="'accordion'"
  )
    +accordionItem(
      '{{ langManager.messages.editPasswordFormLabels.title }}', 
      'mdi mdi-lock'
    )
      form(
        '[formGroup]'='passwordEditionForm'
        '(ngSubmit)'='onPasswordEditionFormSubmit()'
        novalidate
      )
        +passwordInput(
          'new-password', 
          "langManager.messages.editPasswordFormLabels.newPassword"
        )(
          formControlName='newPassword'
          required
          mz-validation
          '[errorMessageResource]'='langManager.messages.editPasswordForm.newPassword'
        )
        +passwordInput(
          'new-password-confirmation', 
          "langManager.messages.editPasswordFormLabels.newPasswordConfirmation"
        )(
          formControlName='newPasswordConfirmation'
          required
          mz-validation
          '[errorMessageResource]'='langManager.messages.editPasswordForm.newPasswordConfirmation'
        )
        +passwordInput(
          'old-password', 
          "langManager.messages.editPasswordFormLabels.oldPassword"
        )(
          formControlName='oldPassword'
          required
          mz-validation
          '[errorMessageResource]'='langManager.messages.editPasswordForm.oldPassword'
        )
        +button(
          'submit', 
          'editPasswordSubmit', 
          '{{ langManager.messages.editPasswordFormLabels.submit }}', 
          'mdi mdi-send'
        )(
          '[disabled]'="!passwordEditionForm.valid"
        )
        div.invalid.red-text(
          '*ngIf'="passwordEditionForm.hasError('arePasswordsDifferent')"
          style='font-size: 0.8rem;'
        )
          ='{{ langManager.messages.editPasswordFormLabels.error }}'
    +accordionItem(
      '{{ langManager.messages.editUsernameFormLabels.title }}', 
      'mdi mdi-account'
    )
      form(
        '[formGroup]'='usernameEditionForm'
        '(ngSubmit)'='onUsernameEditionFormSubmit()'
        novalidate
      )
        +textInput(
          'new-username', 
          "langManager.messages.editUsernameFormLabels.newUsername"
        )(
          formControlName='newUsername'
          required
          mz-validation
          '[errorMessageResource]'='langManager.messages.editUsernameForm.newUsername'
        )
        +passwordInput(
          'password', 
          "langManager.messages.editUsernameFormLabels.password"
        )(
          formControlName='password'
          required
          mz-validation
          '[errorMessageResource]'='langManager.messages.editUsernameForm.password'
        )
        +button(
          'submit', 
          'editUsernameSubmit', 
          '{{ langManager.messages.editUsernameFormLabels.submit }}', 
          'mdi mdi-send'
        )(
          '[disabled]'="!usernameEditionForm.valid"
        )