include globals.pug

mz-modal(
  '[fixedFooter]'='true'
  '[fullscreen]'='true'
)
  mz-modal-header
    div.container: div.row: div.col.s12
      ='{{ langManager.messages.usersFormLabels.titles[1] }}'
  mz-modal-content
    form(
      '[formGroup]'='userForm'
      novalidate
    )
      div.container
        div.row
          div.col.s12.m4
            +textInput(
              'employee-id',
              'langManager.messages.userProfileLabels.employeeNum'
            )
          div.col.s12.m4
            +textInput(
              'first-name',
              'langManager.messages.userProfileLabels.firstName'
            )
          div.col.s12.m4
            +textInput(
              'last-name',
              'langManager.messages.userProfileLabels.lastName'
            )

        div.row
          div.col.s12.m4
            +select(
              'zone',
              'langManager.messages.supervisorsFormLabels.zone',
              'langManager.messages.reportProblemFormLabels.selectLabel',
              'zones', '.name', '', 'onZoneSelected()'
            )(
              formControlName='zone'
            )
          div.col.s12.m4
            +select(
              'role',
              'langManager.messages.usersFormLabels.role',
              'langManager.messages.reportProblemFormLabels.selectLabel',
              'userRoles', '.name', '', 'onRoleSelected()'
            )(
              formControlName='role'
            )
          div.col.s12.m4(
            '*ngIf'="selectedRole.name === 'Employee' && selectedZone.id > 0"
          )
            +select(
              'supervisor',
              'langManager.messages.supervisorsFormLabels.supervisor',
              'langManager.messages.reportProblemFormLabels.selectLabel',
              'supervisors', '.full_name'
            )
        
        div.row
          div.col.s12.m4
            +textInput(
              'login-name',
              'langManager.messages.userProfileLabels.username'
            )
          div.col.s12.m4
            +passwordInput(
              'password',
              'langManager.messages.editPasswordFormLabels.newPassword'
            )
          div.col.s12.m4
            +passwordInput(
              'confirm-password',
              'langManager.messages.editPasswordFormLabels.newPasswordConfirmation'
            )

        ng-container('*ngIf'="selectedRole.name === 'Employee' || selectedRole.name === 'Supervisor'")
          div.row
            div.col.s12
              h5='{{ langManager.messages.usersFormLabels.titles[2] }}'
        
          div.row
            div.col.s12
              +select(
                'program',
                'langManager.messages.usersFormLabels.program',
                'langManager.messages.reportProblemFormLabels.selectLabel',
                'programs', '.name', '', 'onProgramSelected()'
              )(
                formControlName='program'
              )
          
          div.row('[hidden]'="selectedProgram.id <= 0")
            div.col.s12
              i.mdi.mdi-settings
              ='{{ langManager.messages.usersFormLabels.privileges }}'

          ng-container('*ngFor'='let program of programs')  
            div.row('[hidden]'='selectedProgram.name != program.name')
              div.col.s12
                mz-collapsible
                  mz-collapsible-item(
                    '*ngFor'='let module of program.modules'
                  )
                    mz-collapsible-item-header
                      ='{{ module.name }}'
                    mz-collapsible-item-body
                      +table(
                        'langManager.messages.usersFormLabels.logsTableHeaders'
                      )
                        tr('*ngFor'='let log of module.logs')
                          td='{{ log.name }}'

  mz-modal-footer
    +button(
      'submit',
      'edit-user-submit',
      '{{ langManager.messages.editPasswordFormLabels.submit }}',
      'mdi mdi-send'
    )(
      '[disabled]'='!userForm.valid'
      mz-modal-close
    )