include ../../log-ionic-materialize.pug

div([formGroup]='customerComplaintForm')
  +card()
    +cardContent()
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.subject' | translate:lang }}", null, 'subject', 'text', 'subject', null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'CustomerComplaintForm.corrective_action' | translate:lang }}", null, 'corrective_action', 'corrective_action', null)(class='medium-text-area no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s4 m4 l4')
          +slimTextInput("{{ 'CustomerComplaintForm.customer' | translate:lang }}", null, 'customer', 'text', 'customer', null)(class='medium-text-input no-margin-top')
        +col()(class='col s4 m4 l4')
          +slimDateInput(false, "{{ 'CustomerComplaintForm.complaint_date' | translate:lang }}", 'complaint_date', 'complaint_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
          +errorMessage("!customerComplaintForm.controls.complaint_date.valid && customerComplaintForm.controls.complaint_date.dirty", "{{ 'CustomerComplaintForm.date_required' | translate:lang }}")
        +col()(class='col s4 m4 l4')
          +slimTextInput("{{ 'CustomerComplaintForm.sales_order_number' | translate:lang }}", null, 'sales_order_number', 'text', 'sales_order_number', null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s6 m6 l6')
          +slimTextInput("{{ 'CustomerComplaintForm.account_manager' | translate:lang }}", null, 'account_manager', 'text', 'account_manager', null)(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimTextInput("{{ 'CustomerComplaintForm.shipped_to' | translate:lang }}", null, 'shipped_to', 'text', 'shipped_to', null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'CustomerComplaintForm.complaint_reason' | translate:lang }}", null, 'complaint_reason', 'complaint_reason', null)(class='medium-text-area no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'CustomerComplaintForm.root_cause' | translate:lang }}", null, 'root_cause', 'root_cause', null)(class='medium-text-area no-margin-top')
  +card()
    +cardContent()
      +row()
        +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
          button.green(mz-button, type='button', float='true', (click)='onEntryAdd()')
            i(mz-icon-mdi, [icon]="'plus'")
        +col()(class="s1 m1 l1")
          button.red(mz-button, type='button', float='true', (click)='onEntryRemove()', [disabled]="customerComplaintForm.controls.product_details.controls.length <= 1")
            i(mz-icon-mdi, [icon]="'minus'")
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s6 m6 l6')
          | {{ 'CustomerComplaintForm.product' | translate:lang }}
        +col()(class='col s3 m3 l3')
          | {{ 'CustomerComplaintForm.quantity' | translate:lang }}
        +col()(class='col s3 m3 l3')
          | {{ 'CustomerComplaintForm.price' | translate:lang }}
      +row()(style="margin-bottom: 0px; margin-top: 4px;", *ngFor='let detail of data.product_details; let i = index', [formGroup]='customerComplaintForm.controls.product_details.controls[i]')
        +col()(class='col s6 m6 l6')
          +slimTextInput(null, null, "product", "text", "product_{{i + 1}}", null)(class='slim-text-input no-margin-top')
          +errorMessage("!customerComplaintForm.controls.product_details.controls[i].controls.product.valid && customerComplaintForm.controls.product_details.controls[i].controls.product.dirty", "{{ 'CustomerComplaintForm.product_required' | translate:lang }}")
        +col()(class='col s3 m3 l3')
          +slimTextInput(null, null, "quantity", "number", "quantity_{{i + 1}}", null)(class='slim-text-input no-margin-top')
          +errorMessage("!customerComplaintForm.controls.product_details.controls[i].controls.quantity.valid && customerComplaintForm.controls.product_details.controls[i].controls.quantity.dirty", "{{ 'CustomerComplaintForm.quantity_required' | translate:lang }}")
        +col()(class='col s3 m3 l3')
          +slimTextInput(null, null, "cost", "number", "cost_{{i + 1}}", null)(class='slim-text-input no-margin-top')
          +errorMessage("!customerComplaintForm.controls.product_details.controls[i].controls.cost.valid && customerComplaintForm.controls.product_details.controls[i].controls.cost.dirty", "{{ 'CustomerComplaintForm.cost_required' | translate:lang }}")
  +card()
    +cardContent()
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          mz-select-container
            select(multiple, [compareWith]="compareFn", mz-select, label="{{ 'CustomerComplaintForm.product_sources' | translate:lang }}", formControlName='sources', placeholder="{{ 'CustomerComplaintForm.select_product_sources' | translate:lang }}")
              option(*ngFor='let zone of zoneList', [ngValue]='{ id: zone.id }') {{zone.name}}
          +errorMessage("!customerComplaintForm.controls.sources.valid && customerComplaintForm.controls.sources.dirty", "{{ 'CustomerComplaintForm.sources_required' | translate:lang }}")
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.shipping_point' | translate:lang }}", null, 'shipping_point', 'text', 'shipping_point', null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.incoming_qc_score' | translate:lang }}", null, 'incoming_qc_score', 'text', 'incoming_qc_score', null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.total_age' | translate:lang }}", null, "product_age", "number", "product_age", null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.shipping_age' | translate:lang }}", null, "shipping_age", "number", "shipping_age", null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.transit_time' | translate:lang }}", null, "transit_time", "number", "transit_time", null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextInput("{{ 'CustomerComplaintForm.complaint_age' | translate:lang }}", null, "complaint_age", "number", "complaint_age", null)(class='medium-text-input no-margin-top')
      +row()(style="margin-bottom: 0px; margin-top: 4px;")
        +col()(class='col s12 m12 l12')
          +slimTextArea("{{ 'CustomerComplaintForm.notes' | translate:lang }}", null, 'notes', 'notes', null)(class='medium-text-area no-margin-top')

div(class='row')
  div(class='center col', [ngClass]='(data.id != undefined)?"s4 m4 l4":"s6 m6 l6"', style="margin-bottom: 20px;")
    button(mz-button, (click)='save()')= "{{ 'FormButtons.save' | translate:lang }} "
      i(mz-icon-mdi, [icon]="'send'")
  div(class='center col s4 m4 l4', style="margin-bottom: 20px;", *ngIf='data.id != undefined')
    button(mz-button, (click)='close()', [disabled]='!customerComplaintForm.pristine')= "{{ 'FormButtons.close' | translate:lang }} "
      i(mz-icon-mdi, [icon]="'lock'")
  div(class='center col', [ngClass]='(data.id != undefined)?"s4 m4 l4":"s6 m6 l6"', style="margin-bottom: 20px;")
    button(mz-button, (click)='back()')= "{{ 'FormButtons.return' | translate:lang }} "
      i(mz-icon-mdi, [icon]="'undo-variant'")