.row(*ngIf='uploadActive')
  .col.s12.m12.l12
    div(class="file-field input-field")
      div(class="btn")
        span() {{ 'ManualComponent.file' | translate:lang }}
        input(type="file", class="fileControl", accept='application/pdf', (change)="onPDFFileSelected($event)")
      div(class="file-path-wrapper")
        input(class="file-path validate fileControl", type="text")
.row(*ngIf='uploadActive')
  .col.s12.m12.l12.right-align
    button(mz-button, style='margin-top: 20px; margin-right: 20px;', (click)='disableUpload()') {{ 'ManualComponent.cancel' | translate:lang }}
    button(mz-button, style='margin-top: 20px;', [disabled]='filePDF == null', (click)='uploadPDF()') {{ 'ManualComponent.send' | translate:lang }}
.row(*ngIf='canUpload && !uploadActive')
  .col.s12.m12.l12.right-align
    button(mz-button, style='margin-top: 20px;', (click)='enableUpload()') {{ 'ManualComponent.upload' | translate:lang }}
div(style='height: calc(100vh - 225px);', *ngIf='errorPDF == false && loadingPDF == false && uploadActive == false')
  iframe([src]='dataUrl', allowfullscreen='allowfullscreen', webkitallowfullscreen='webkitallowfullscreen', width='100%', height='100%')
h4(*ngIf='uploadActive == true') {{ 'ManualComponent.preview' | translate:lang }}
div(style='height: calc(100vh - 225px);', *ngIf='uploadActive == true && previewUrl !== undefined && previewUrl !== null')
  iframe([src]='previewUrl', allowfullscreen='allowfullscreen', webkitallowfullscreen='webkitallowfullscreen', width='100%', height='100%')
div(style='height: calc(100vh - 225px);', *ngIf='loadingPDF')
  div.center-align
      img.spinner(src="assets/images/koi_spinner.png", width="100", height="100")
div(*ngIf='errorPDF && !uploadActive && !canUpload')
  h4
    i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
    | {{ 'ManualComponent.network_error' | translate:lang }}
    .row
      .col.s12.m12.l12(style='text-align: right;')
        button.center(mz-button, (click)='loadPDF()') {{ 'ManualComponent.retry' | translate:lang }}
div(*ngIf='errorPDF && !uploadActive && canUpload')
  h4
    i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
    | {{ 'ManualComponent.network_error_uploader' | translate:lang }}
    .row
      .col.s12.m12.l12(style='text-align: right;')
        button.center(mz-button, (click)='loadPDF()') {{ 'ManualComponent.retry' | translate:lang }}