mz-collapsible([mode]="'expandable'")
  mz-collapsible-item
    mz-collapsible-item-header
      | Filtrado | Num. total de registros: {{data.length}} | Num. de registros filtrados: {{filteredData.length}} | Registros mostrados por página: {{pageSize}} | Indice inicial: {{this.currentPage * this.pageSize}} | Indice final: {{(this.currentPage + 1) * this.pageSize - 1 <= filteredData.length ? (this.currentPage + 1) * this.pageSize - 1: filteredData.length - 1}} | Total Recibido: {{totalReceived}} | Total Empacado: {{totalPacked}}
    mz-collapsible-item-body
      .row
        .col.s3.m3.l3
          mz-input-container
            input#lot-input(mz-input, [label]="'Lote - Disponibles: ' + autocompleteLots.count", placeholder='Lote', type='text', autocomplete='off', [autocomplete]='autocompleteLots', (change)='onAutocompleteChange($event, autocompleteLots)')
        .col.s3.m3.l3
          mz-input-container
            input#product-input(mz-input, [label]="'Producto - Disponibles: ' + autocompleteProducts.count", placeholder='Producto', type='text', autocomplete='off', [autocomplete]='autocompleteProducts', (change)='onAutocompleteChange($event, autocompleteProducts)')
        .col.s3.m3.l3
          mz-input-container
            input#variety-input(mz-input, [label]="'Variedad - Disponibles: ' + autocompleteVarieties.count", placeholder='Variedad', type='text', autocomplete='off', [autocomplete]='autocompleteVarieties', (change)='onAutocompleteChange($event, autocompleteVarieties)')
        .col.s3.m3.l3
          mz-input-container
            input#batch-input(mz-input, [label]="'Batch - Disponibles: ' + autocompleteBatches.count", placeholder='Batch', type='text', autocomplete='off', [autocomplete]='autocompleteBatches', (change)='onAutocompleteChange($event, autocompleteBatches)')
      .row
        .col.s3.m3.l3
          mz-input-container
            input#traceability-input(mz-input, [label]="'Trazabilidad - Disponibles: ' + autocompleteTraceability.count", placeholder='Trazabilidad', type='text', autocomplete='off', [autocomplete]='autocompleteTraceability', (change)='onAutocompleteChange($event, autocompleteTraceability)')
        .col.s3.m3.l3
          mz-input-container
            input#parcel-input(mz-input, [label]="'Parcela - Disponibles: ' + autocompleteParcels.count", placeholder='Parcela', type='text', autocomplete='off', [autocomplete]='autocompleteParcels', (change)='onAutocompleteChange($event, autocompleteParcels)')
        .col.s3.m3.l3
          mz-input-container
            input#zone-input(mz-input, [label]="'Zona - Disponibles: ' + autocompleteZones.count", placeholder='Zona', type='text', autocomplete='off', [autocomplete]='autocompleteZones', (change)='onAutocompleteChange($event, autocompleteZones)')
        .col.s3.m3.l3
          mz-input-container
            input#keys-input(mz-input, [label]="'Clave - Disponibles: ' + autocompleteKeys.count", placeholder='Clave', type='text', autocomplete='off', [autocomplete]='autocompleteKeys', (change)='onAutocompleteChange($event, autocompleteKeys)', [(ngModel)]='autocompleteKeys.current')

div
  table.striped(style='display: block; overflow: scroll; height: calc(100vh - 190px);')
    thead
      tr
        th.slim-table-cell.no-wrap-table-cell Índice
        th.slim-table-cell.no-wrap-table-cell Semana
        th.slim-table-cell.no-wrap-table-cell ID
        th.slim-table-cell.no-wrap-table-cell Fecha
        th.slim-table-cell.no-wrap-table-cell Envio
        th.slim-table-cell.no-wrap-table-cell Batch
        th.slim-table-cell.no-wrap-table-cell Clave P.
        th.slim-table-cell.no-wrap-table-cell Producto
        th.slim-table-cell.no-wrap-table-cell Recibo
        th.slim-table-cell.no-wrap-table-cell Emp
        th.slim-table-cell.no-wrap-table-cell Kilos
        th.slim-table-cell.no-wrap-table-cell Variedad
        th.slim-table-cell.no-wrap-table-cell Color
        th.slim-table-cell.no-wrap-table-cell Lote
        th.slim-table-cell.no-wrap-table-cell Parcela
        th.slim-table-cell.no-wrap-table-cell Temp
        th.slim-table-cell.no-wrap-table-cell Caja
        th.slim-table-cell.no-wrap-table-cell Zona
        th.slim-table-cell.no-wrap-table-cell Clave
        th.slim-table-cell.no-wrap-table-cell Productor
        th.slim-table-cell.no-wrap-table-cell Trazabilidad
    tbody
      ng-template(ngFor, [ngForOf]='currentData', let-d, let-i='index')
        tr
          td.slim-table-cell.no-wrap-table-cell {{i + pageSize * currentPage}}
          td.slim-table-cell.no-wrap-table-cell {{d['Semana']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Id']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Fecha']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Envio']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Batch']}}
          td.slim-table-cell.no-wrap-table-cell {{d['PClave']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Producto']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Recibo']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Emp']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Kilos']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Variedad']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Color']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Lote']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Parcela']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Temp']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Caja']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Zona']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Clave']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Productor']}}
          td.slim-table-cell.no-wrap-table-cell {{d['Trazabilidad']}}
  .center
    button(mz-button, float='true', (click)='goToFirst()', [disabled]='currentPage == 0')
      i(mz-icon-mdi, [align]="'right'", [icon]="'rewind'", [size]="'36px'")
    button(mz-button, float='true', (click)='prevPage()', [disabled]='currentPage == 0')
      i(mz-icon-mdi, [align]="'right'", [icon]="'play'", [size]="'36px'", [flip]="'h'")
    button(mz-button, float='true', (click)='nextPage()', [disabled]='(currentPage + 1) * pageSize > filteredData.length')
      i(mz-icon-mdi, [align]="'right'", [icon]="'play'", [size]="'36px'")
    button(mz-button, float='true', (click)='goToLast()', [disabled]='(currentPage + 1) * pageSize > filteredData.length')
      i(mz-icon-mdi, [align]="'right'", [icon]="'fast-forward'", [size]="'36px'")
