include ../../log-ionic-materialize.pug

h4 COMPONENT CURRENTLY IN DEVELOPMENT

div([formGroup]='capaForm')
  +card()
    +cardHeader('Section I')
    +cardContent()()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimTextInput('CAPA No.', null, 'capa_number', 'text', 'capa_number', null)(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimTextInput('Ref No.', null, 'reference_number', 'text', 'reference_number', null)(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimTextInput('Initiator', null, 'creator_name', 'text', 'creator_name', null)(class='medium-text-input no-margin-top', disabled='true')
        +col()(class='col s6 m6 l6')
          +slimDateInput(false, 'Date of entry', 'capture_date', 'capture_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Reference of Non-Compliance (if applicable)', null, 'reference', 'reference', null)(class=' medium-text-area no-margin-top')
  +card()
    +cardHeader('Section II')
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Description of Non-Conformance/Non-Compliance', null, 'description', 'description', null)(class=' medium-text-area no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s6 m6 l6')
          +slimTextInput('Observer', null, 'observer', 'text', 'observer', null)(class='medium-text-input no-margin-top')
        +col()(class='col s6 m6 l6')
          +slimDateInput(false, 'Date of NC', 'occurrence_date', 'occurrence_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
  +card()
    +cardHeader('Section III')
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Findings', null, 'findings', 'findings', null)(class='medium-text-area no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Root cause analysis', null, 'root_cause', 'root_cause', null)(class='medium-text-area no-margin-top')
  +card()
    +cardHeader('Section IV')
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Preventative Action Items', null, 'preventive_actions', 'preventive_actions', null)(class='medium-text-area no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Corrective Action Items', null, 'corrective_actions', 'corrective_actions', null)(class='medium-text-area no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimDateInput(false, 'Planned date of completion', 'planned_date', 'planned_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextInput('Personnel assigned', null, 'assigned_personnel', 'text', 'assigned_personnel', null)(class='medium-text-input no-margin-top')
  +card()
    +cardHeader('Section V')
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextArea('Follow-up verification', null, 'follow_up', 'follow_up', null)(class='medium-text-area no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimDateInput(false, 'Actual date of completion', 'actual_date', 'actual_date', null, 'dateConfig')(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextInput('CAPA Status', null, 'status', 'text', 'status', null)(class='medium-text-input no-margin-top')
  +card()
    +cardHeader('Evidences')
    +cardContent()
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +slimTextInput('Link', null, 'link', 'text', 'link', null)(class='medium-text-input no-margin-top')
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +col()(class='col s12 m12 l12')
            +fileInput('PDFs', 'application/pdf', 'onPDFFileSelected($event)', 'true')(class='file-input')
      mz-collection(*ngIf='pdfs.length != 0')
        ng-template(ngFor, let-file, [ngForOf]='pdfs', let-i='index')
          mz-collection-item([avatar]="true")
            i.red.darken-4(mz-avatar, mz-icon-mdi, [icon]="'file-pdf'")
            .title() {{file.name}}
            div(mz-secondary-content)
              a([href]="'http://localhost/espresso/data/capa/documents/' + file.path", target="_blank", *ngIf="file.path != undefined")
                button.blue.pointer(mz-button, [float]='true')
                  i(mz-icon-mdi, [icon]="'open-in-new'")
              button.red.pointer(mz-button, [float]='true', (click)='deletePDF(i)')
                i(mz-icon-mdi, [icon]="'delete'")
      +row()(style='margin-bottom: 0px; margin-top: 4px;')
        +col()(class='col s12 m12 l12')
          +fileInput('IMAGES', 'image/*', 'onImageFileSelected($event)', 'true')(class='image-input')
      mz-collection(*ngIf='images.length != 0')
        ng-template(ngFor, let-image, [ngForOf]='images', let-i='index')
          mz-collection-item([avatar]="true")
            img(mz-avatar, [src]='image.dataUrl')
            .title() {{image.name}}
            div(mz-secondary-content)
              a([href]="'http://localhost/espresso/data/capa/images/' + image.path", target="_blank", *ngIf="image.path != undefined")
                button.blue.pointer(mz-button, [float]='true')
                  i(mz-icon-mdi, [icon]="'open-in-new'")
              button.red.pointer(mz-button, [float]='true', (click)='deleteImage(i)')
                i(mz-icon-mdi, [icon]="'delete'")

div(class='row')
  div(class='center col', [ngClass]='(data.id != undefined)?"s3 m3 l3":"s6 m6 l6"', style="margin-bottom: 20px;")
    button(mz-button, (click)='save()')= "Guardar "
      i(mz-icon-mdi, [icon]="'send'")
  div(class='center col s3 m3 l3', style="margin-bottom: 20px;", *ngIf='data.id != undefined')
    button(mz-button, (click)='close()', [disabled]='!capaForm.pristine')= "Cerrar "
      i(mz-icon-mdi, [icon]="'lock'")
  div(class='center col', [ngClass]='(data.id != undefined)?"s3 m3 l3":"s6 m6 l6"', style="margin-bottom: 20px;")
    button(mz-button, (click)='back()')= "Regresar "
      i(mz-icon-mdi, [icon]="'undo-variant'")
  div(class='center col s3 m3 l3', style="margin-bottom: 20px;", *ngIf='data.id != undefined')
    button(mz-button, (click)='delete()')= "Borrar "
      i(mz-icon-mdi, [icon]="'delete'")