mixin menuDirectoryIcon(type, cardClass, defaultIcon, imageDirectory, link)
  div(*ngIf="icon.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        a(style='color: #FFF;', (click)='enableEditMode(icon)', *ngIf='editMode == false')
          i.waves-effect.waves-light.green.edit-dashboard-element(mz-icon-mdi, [icon]="'pencil'", [size]="'18px'")
        a(style='color: #FFF;', (click)='deleteElement(icon)', *ngIf='editMode == false')
          i.waves-effect.waves-light.red.delete-dashboard-element(mz-icon-mdi, [icon]="'close'", [size]="'18px'")
        a(routerLink='/menu', [queryParams]=link, style='color: inherit;')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}

mixin menuDocumentIcon(type, cardClass, defaultIcon, imageDirectory, link)
  div(*ngIf="icon.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        a(style='color: #FFF;', (click)='enableEditMode(icon)', *ngIf='editMode == false')
          i.waves-effect.waves-light.green.edit-dashboard-element(mz-icon-mdi, [icon]="'pencil'", [size]="'18px'")
        a(style='color: #FFF;', (click)='deleteElement(icon)', *ngIf='editMode == false')
          i.waves-effect.waves-light.red.delete-dashboard-element(mz-icon-mdi, [icon]="'close'", [size]="'18px'")
        a([routerLink]=link, style='color: inherit;')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}

mixin menuLinkIcon(type, cardClass, defaultIcon, imageDirectory, link)
  div(*ngIf="icon.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        a(style='color: #FFF;', (click)='enableEditMode(icon)', *ngIf='editMode == false')
          i.waves-effect.waves-light.green.edit-dashboard-element(mz-icon-mdi, [icon]="'pencil'", [size]="'18px'")
        a(style='color: #FFF;', (click)='deleteElement(icon)', *ngIf='editMode == false')
          i.waves-effect.waves-light.red.delete-dashboard-element(mz-icon-mdi, [icon]="'close'", [size]="'18px'")
        a([href]=link, style='color: inherit;', target='_blank', *ngIf='icon.url[0] != "/"')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}
        a([routerLink]=link, style='color: inherit;', *ngIf='icon.url[0] == "/"')
          div(*ngIf='icon.image != null', style='margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            img([src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + icon.image', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          div(*ngIf='icon.icon != null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            div
              i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
            i(mz-icon-mdi, [icon]='icon.icon', [size]="'48px'")
          div(*ngIf='icon.icon == null && icon.image == null', style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{icon.name}}

mixin menuIconPreview(type, cardClass, defaultIcon, imageDirectory)
  div(*ngIf="iconForm.value.type == '" + type + "'")
    mz-card(class=cardClass)
      mz-card-content
        div(*ngIf='originalImage !== null || previewURL !== null', style='margin-bottom: 1em;')
          div
            i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
          img.server-image(*ngIf='previewURL === null', [src]='"http://localhost/espresso/data/menu/' + imageDirectory + '/" + originalImage', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
          img.preview-image(*ngIf='previewURL !== null', [src]='previewURL', alt='image not loaded', style='display: block; max-height: 72px; min-height: 72px; margin-left: auto; margin-right: auto; max-width: 100%;')
        div(*ngIf='iconForm.value.icon != null && originalImage == null && previewURL == null', style='text-align: center; margin-bottom: 1em;')
          div
            i.corner-icon(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'24px'")
          i(mz-icon-mdi, [icon]='iconForm.value.icon', [size]="'48px'")
        div(*ngIf='iconForm.value.icon == null && originalImage == null && previewURL == null', style='text-align: center; margin-bottom: 1em;')
          i(mz-icon-mdi, [icon]="'" + defaultIcon + "'", [size]="'48px'")
        div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
          | {{iconForm.value.name}}

h6
  a(*ngIf="path != ''", routerLink="/menu") {{ 'MenuComponent.menu' | translate:lang }}
  span(*ngIf="path == ''") {{ 'MenuComponent.menu' | translate:lang }}
  span(*ngFor='let cur of directories; let last = last; let index = index')
    |  > 
    a([routerLink]="['/menu']", [queryParams]='{ path: breadcrumbs[index] }', *ngIf='last != true') {{cur}}
      //-| {{cur | slice:0:5}}
      //-span(*ngIf='cur.length > 5') …
    span(*ngIf='last == true') {{cur}}
.row(*ngIf='addMode === false && editMode === false')
  ng-template(ngFor, [ngForOf]='currentDirectory', let-icon)
    .col.s6.m3.l2
      +menuLinkIcon('link', null, 'link-variant', 'links', 'icon.url')
      +menuDirectoryIcon('directory', 'blue-grey lighten-4', 'folder', 'directories', "(path != '') ? { path: path + '/' + icon.name } : { path : icon.name }")
      +menuDocumentIcon('file', 'green lighten-4', 'file-pdf-box', 'files', "'/document/viewer/' + icon.path")
  .col.s6.m3.l2(*ngIf='errorDirectory === false && loadingDirectory === false && errorNetwork === false && editMode === false')
    mz-card(style='background-color: #b1dcfb;')
      mz-card-content
        a(style='color: inherit; cursor: pointer;', (click)='enableAddMode()')
          div(style='text-align: center; margin-bottom: 1em;')
            i(mz-icon-mdi, [icon]="'plus-box'", [size]="'48px'")
          div(style='height: 2em; line-height: 1em; overflow: hidden; text-overflow: ellipsis; text-align: center;')
            | {{ 'MenuComponent.add_element' | translate:lang }}
.row(*ngIf='addMode === false && editMode === false')
  .col.s12.m12.l12
    div(*ngIf='loadingDirectory == true')
      h4
        i.green-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.loading_directory' | translate:lang }}
    div(*ngIf='currentDirectory.length == 0 && errorDirectory === false && errorNetwork === false && loadingDirectory === false')
      h4
        i.blue-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.empty_directory' | translate:lang }}
    div(*ngIf='errorDirectory === true')
      h4
        i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.invalid_directory' | translate:lang }}
    div(*ngIf='errorNetwork === true')
      h4
        i.red-text(mz-icon-mdi, [align]="'center'", [icon]="'alert-circle'", [size]="'42px'")
        | {{ 'MenuComponent.network_error' | translate:lang }}
        .row
          .col.s12.m12.l12(style='text-align: right;')
            button.center(mz-button, (click)='getMenu()') {{ 'MenuComponent.retry' | translate:lang }}
div(*ngIf='addMode === true || editMode === true')
  .row([formGroup]="iconForm")
    .col.s6.m9.l10
      h6(*ngIf='addMode === true') {{ 'MenuComponent.new_element' | translate:lang }}
      h6(*ngIf='editMode === true') {{ 'MenuComponent.edit_element' | translate:lang }}
      .row
        .col.s12.m3.l3(*ngIf='addMode === true')
          mz-radio-button-container
            input(mz-radio-button, label="{{ 'MenuComponent.directory' | translate:lang }}", [withGap]="true", id="radio-directory", name="radio-select-type", type='radio', [value]='"directory"', [formControl]="iconForm.controls.type", (change)='onTypeChange()')
          mz-radio-button-container
            input(mz-radio-button, label="{{ 'MenuComponent.link' | translate:lang }}", [withGap]="true", id="radio-link", name="radio-select-type", type='radio', [value]='"link"', [formControl]="iconForm.controls.type", (change)='onTypeChange()')
          mz-radio-button-container(*ngIf='canAddFiles === true')
            input(mz-radio-button, label="{{ 'MenuComponent.file' | translate:lang }}", [withGap]="true", id="radio-file", name="radio-select-type", type='radio', [value]='"file"', [formControl]="iconForm.controls.type", (change)='onTypeChange()')
        .col.s12([ngClass]="addMode === true?'m9 l9':'m12 l12'")
          mz-input-container
            input(mz-input, label="{{ 'MenuComponent.name' | translate:lang }}", id='name-edit', type='text', formControlName='name')
      .row
        .col.s12.m3.l3
            mz-radio-button-container
              input(mz-radio-button, label="{{ 'MenuComponent.icon' | translate:lang }}", [withGap]="true", id="radio-icon", name="radio-edit-icon", type='radio', [value]='true', [formControl]="iconForm.controls.is_icon")
            mz-radio-button-container
              input(mz-radio-button, label="{{ 'MenuComponent.image' | translate:lang }}", [withGap]="true", id="radio-image", name="radio-edit-icon", type='radio', [value]='false', [formControl]="iconForm.controls.is_icon")
        .col.s12.m9.l9([hidden]='!(iconForm.controls.is_icon.value === true)')
          mz-select-container
            select(mz-select, label="{{ 'MenuComponent.icon' | translate:lang }}", id='icon-select', placeholder="{{ 'MenuComponent.icon' | translate:lang }}", formControlName='icon', (change)='onIconSelected()')
              option(value) {{ 'MenuComponent.default_option' | translate:lang }}
              option(value='account') {{ 'MenuComponent.icons.account' | translate:lang }}
              option(value='alert-circle') {{ 'MenuComponent.icons.alert-circle' | translate:lang }}
              option(value='beaker') {{ 'MenuComponent.icons.beaker' | translate:lang }}
              option(value='bell') {{ 'MenuComponent.icons.bell' | translate:lang }}
              option(value='broom') {{ 'MenuComponent.icons.broom' | translate:lang }}
              option(value='bus') {{ 'MenuComponent.icons.bus' | translate:lang }}
              option(value='calendar') {{ 'MenuComponent.icons.calendar' | translate:lang }}
              option(value='chart-line') {{ 'MenuComponent.icons.chart-line' | translate:lang }}
        .col.s12.m9.l9([hidden]='!(iconForm.controls.is_icon.value === false)')
          div(class="file-field input-field")
            div(class="btn")
              span() {{ 'MenuComponent.image' | translate:lang }}
              input(type="file", class="fileControl", accept='image/*', (change)="onImageFileSelected($event)")
            div(class="file-path-wrapper")
              input(class="file-path validate fileControl", type="text")
      .row([hidden]="iconForm.value.type != 'link'")
        div.col([ngClass]="(iconForm.controls.url.disabled == true)?'s12 m12 l12':'s6 m6 l6'", [hidden]="!(iconForm.value.type == 'link')")
          mz-select-container
            select(mz-select, label="{{ 'MenuComponent.address' | translate:lang }}", id='url-select', placeholder="{{ 'MenuComponent.choose_address' | translate:lang }}", formControlName='local_url', (change)='onURLChange()')
              option(*ngFor='let localURL of localURLs', [ngValue]='localURL.route') {{localURL.name}}
              option([ngValue]='"external"') {{ 'MenuComponent.external_address' | translate:lang }}
        .col.s6.m6.l6([hidden]="!(iconForm.value.type == 'link') || iconForm.controls.url.disabled")
          mz-input-container
            input(mz-input, [label]="'URL'", id='url-edit', type='text', formControlName='url')
      .row([hidden]="iconForm.value.type != 'file'")
        div.col([ngClass]="(iconForm.controls.file_name.disabled == true)?'s12 m12 l12':'s6 m6 l6'", [hidden]="!(iconForm.value.type == 'file')")
          mz-select-container
            select(mz-select, label="{{ 'MenuComponent.file' | translate:lang }}", id='file-select', placeholder="{{ 'MenuComponent.choose_file' | translate:lang }}", formControlName='file_id', (change)='onFileChange()')
              option(*ngFor='let localURL of fileList', [ngValue]='localURL.id') {{localURL.name}}
              option([ngValue]='"new_file"') {{ 'MenuComponent.new_file' | translate:lang }}
        .col.s6.m6.l6([hidden]="!(iconForm.value.type == 'file') || iconForm.controls.file_name.disabled")
          mz-input-container
            input(mz-input, label="{{ 'MenuComponent.name' | translate:lang }}", id='file-name-add', type='text', formControlName='file_name')
      .row([hidden]="iconForm.value.type !== 'file' || iconForm.controls.file.disabled")
        .col.s12.m12.l12
          div(class="file-field input-field")
            div(class="btn")
              span() {{ 'MenuComponent.file' | translate:lang }}
              input(type="file", class="fileControl", accept='application/pdf', (change)="onPDFFileSelected($event)")
            div(class="file-path-wrapper")
              input(class="file-path validate fileControl", type="text")
    .col.s6.m3.l2
      h6.center {{ 'MenuComponent.preview' | translate:lang }}
      +menuIconPreview('link', null, 'link-variant', 'links')
      +menuIconPreview('directory', 'blue-grey lighten-4', 'folder', 'directories')
      +menuIconPreview('file', 'green lighten-4', 'file-pdf-box', 'files')
      .center
        button(*ngIf='addMode === true', mz-button, (click)='addElement()', [disabled]='!iconForm.valid') {{ 'MenuComponent.add' | translate:lang }}
        button(*ngIf='editMode === true', mz-button, (click)='editElement()') {{ 'MenuComponent.edit' | translate:lang }}
      br
      .center
        button(mz-button, (click)='cancelForm()') {{ 'MenuComponent.cancel' | translate:lang }}