mixin card(isHoverable)
  mz-card([hoverable]=isHoverable)&attributes(attributes)
    if block
      block

mixin cardHeader(contents)
  mz-card-title()&attributes(attributes)= contents
    if block
      block

mixin cardContent()
  mz-card-content()&attributes(attributes)
    if block
      block

mixin icon()
  i(mz-icon)&attributes(attributes)

mixin dateInput(showIcon, label, formControlName, id, placeholder, options)
  mz-datepicker-container()&attributes(attributes)
    if (showIcon == true)
      i(mz-icon-mdi, mz-input-prefix, [icon]="'calendar'")
    input(mz-datepicker, label=label, type="text", id=id, placeholder=placeholder, [options]=options, formControlName=formControlName)

mixin timeInput(showIcon, label, formControlName, id, placeholder, options)
  mz-timepicker-container()&attributes(attributes)
    if (showIcon == true)
      i(mz-icon-mdi, mz-input-prefix, [icon]="'clock'")
    input(mz-timepicker, label=label, type="text", id=id, placeholder=placeholder, [options]=options, formControlName=formControlName)

mixin list()
  if block
    block

mixin listHeader(contents)
  h2()&attributes(attributes)= contents

mixin fullLogWrapper()
  if block
    block

mixin sendLogButton(label)
  button(mz-button)&attributes(attributes)= label

mixin addItemButton()
  button(mz-button, float="true")&attributes(attributes)
    i(mz-icon-mdi, [icon]="'plus'")

//- User Input

mixin label(label, icon, color)
  span(style="font-size: 24px;")
    if (icon)
      - label = label + " "
      = label
      i(mz-icon-mdi, mz-input-prefix, icon=icon)
    else
      = label

mixin textInput(label, icon, formControlName, type, id, placeholder)
  mz-input-container
    if (icon)
      i(mz-icon-mdi, mz-input-prefix, icon=icon)
    input(mz-input, label=label, formControlName=formControlName, id=id, placeholder=placeholder, type=type)

mixin textInputLine(label, placeholder, icon, formControlName, type, id)
  +textInput(label, icon, formControlName, type, placeholder, id)

mixin textArea(label, icon, formControlName, id, placeholder)
  mz-textarea-container
    if (icon)
      i(mz-icon-mdi, mz-input-prefix, icon=icon)
    textarea(mz-textarea, label=label, formControlName=formControlName, id=id, placeholder=placeholder)

mixin checkbox(label, icon, formControlName, id)
  mz-checkbox-container()&attributes(attributes)
    input(mz-checkbox, label=label, formControlName=formControlName, type="checkbox", id=id, filledIn="true")

mixin radioGroup(label, icon, formControlName)
  div
    //-span(style="font-size: 24px;")
      //-if (icon)
        - label = label + " "
        = label
        i(mz-icon-mdi, mz-input-prefix, icon=icon)
      //-else
        = label
    if block
      block

mixin radio(label, icon, value, checked, disabled, id, name)
  mz-radio-button-container
    input(mz-radio-button, label=label, value=value, checked=checked, disabled=disabled, id=id, name=name, type="radio")&attributes(attributes)

mixin select(label, icon, formControlName, interface, id, placeholder)
  mz-select-container
    select(mz-select, label=label, id=id, [placeholder]=placeholder, formControlName=formControlName)&attributes(attributes)
      if block
        block

mixin option(label, value, selected, disabled)
  option([ngValue]=value, selected=selected, disabled=disabled)&attributes(attributes)= label

//- Grid

mixin grid()
  if block
    block

mixin row()
  .row
    if block
      block

mixin col()
  .col()&attributes(attributes)
    if block
      block

mixin fileInput(label)
  div(class="file-field input-field")
    div(class="btn")
      span()= label
      input(type="file")
    div(class="file-path-wrapper")
      input(class="file-path validate", type="text")