include ../../../log-ionic-materialize.pug

mixin test(testForm, testNumber, entryNumber)
  +row()([formGroup]=testForm)
    +col()(class="s2 m2 l2")
      +textInput("{{ 'Log.reading' | translate:lang }}", null, "test1", "number", "reading1_{{" + entryNumber + "}}_{{" + testNumber + "}}", null)
    +col()(class="s2 m2 l2")
      +radioGroup("{{ 'Log.results' | translate:lang }}", false, "results1")
        +radio("{{ 'Log.pass' | translate:lang }}", false, "true", false, false, "acceptable_{{" + entryNumber + "}}_{{" + testNumber + "}}", "conditions_{{" + entryNumber + "}}_{{" + testNumber + "}}")([formControl]=testForm + '.controls.results1', [value]='true', (change)="cleanForm()")
        +radio("{{ 'Log.fail' | translate:lang }}", false, "false", false, false, "unacceptable_{{" + entryNumber + "}}_{{" + testNumber + "}}", "conditions_{{" + entryNumber + "}}_{{" + testNumber + "}}")([formControl]=testForm + '.controls.results1', [value]='false', (change)="cleanForm()")
    +col()(class="s4 m4 l4")
      +textInput("{{ 'Log.corrective_action' | translate:lang }}", null, "corrective_action", "text", "corrective_action_{{" + entryNumber + "}}_{{" + testNumber + "}}", null)
    +col()(class="s2 m2 l2")
      +textInput("{{ 'Log.reading' | translate:lang }}", null, "test2", "number", "reading2_{{" + entryNumber + "}}_{{" + testNumber + "}}", null)
    +col()(class="s2 m2 l2")
      +radioGroup("{{ 'Log.retests' | translate:lang }}", false, "results2")
        +radio("{{ 'Log.pass' | translate:lang }}", false, "true", false, false, "acceptable2_{{" + entryNumber + "}}_{{" + testNumber + "}}", "conditions2_{{" + entryNumber + "}}_{{" + testNumber + "}}")([formControl]=testForm + '.controls.results2', [value]='true')
        +radio("{{ 'Log.fail' | translate:lang }}", false, "false", false, false, "unacceptable2_{{" + entryNumber + "}}_{{" + testNumber + "}}", "conditions2_{{" + entryNumber + "}}_{{" + testNumber + "}}")([formControl]=testForm + '.controls.results2', [value]='false')

mixin entry(entryForm, entryNumber)
  +row()([formGroup]=entryForm)
    +col()(class="s6 m6 l6")
      +textInput("{{ 'Log.item_place_equipment' | translate:lang }}", null, "name", "text", null, null)
    +col()(class="s6 m6 l6")
      +timeInput(true, "{{ 'Log.time' | translate:lang }}", "time", null, null, "langManager.messages.global.timePickerConfig")
  div(*ngFor="let entry of " + entryForm + ".controls.items.controls; let j = index")
    +test(entryForm + ".controls.items.controls[j]", "j + 1", entryNumber)
  if block
    block

mixin testButtons(entryForm)
  +row()
    +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
      button.green(mz-button, type='button', float='true', (click)='addItem(' + entryForm + '.controls.items)')
        i(mz-icon-mdi, [icon]="'plus'")
    +col()(class="s1 m1 l1")
      button.red(mz-button, type='button', float='true', (click)='removeItem(' + entryForm + '.controls.items)', [disabled]= entryForm + ".controls.items.controls.length <= 1")
        i(mz-icon-mdi, [icon]="'minus'")

+fullLogWrapper()
  div(*ngIf='showLog == true')
    block header
      log-header([log]='logHeaderData', [dateGroup]='captureForm')
    form((ngSubmit)='save()', [formGroup]="captureForm")
      +card()
        +cardContent()
          +card(true)(*ngFor="let entry of captureForm.controls.areas.controls; let i = index")
            +cardContent()
              +entry("captureForm.controls.areas.controls[i]", "i + 1")
                block testButtons
                  +testButtons("captureForm.controls.areas.controls[i]")
      block entryButtons
        +row()
          +col()(class="s1 m1 l1 offset-s10 offset-m10 offset-l10")
            button.green(mz-button, type='button', float='true', (click)='addEntry()')
              i(mz-icon-mdi, [icon]="'plus'")
          +col()(class="s1 m1 l1")
            button.red(mz-button, type='button', float='true', (click)='removeEntry()', [disabled]="captureForm.controls.areas.controls.length <= 1")
              i(mz-icon-mdi, [icon]="'minus'")
      +card()
        +cardContent()
          +textArea("{{ 'Log.notes_of' | translate:lang }} {{log.log_name}}", "clipboard", "notes")
      block buttonRow
        +sendLogButton("{{ 'Log.send_report' | translate:lang }}")